:root {
    --neon_green: #73FF1D;
    --purple_bg: #473093;
  }


.navbar{
    font-family: "Gabarito", sans-serif;
    background-color: var(--purple_bg);
    
}

.navbar-brand{
    font-family: "Antonio", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--neon_green);
}


.navbar-nav{
    gap: 2rem;
}

.nav-item{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.nav-seperator {
    border-left: 2px solid var(--neon_green);
    margin-top: 0.3rem;
    height: 2rem;
}

.navbar-brand:hover { 
    color: var(--neon_green);
}

.nav-link{
    color: var(--neon_green);
    
}
.nav-link:hover { 
    color: var(--neon_green);
}

.LogginBttnContainer{
    margin-right: 0.5rem;
}

.extra{
    margin-top: 1rem;
}

.LoginBttn{
    font-family: "Antonio", sans-serif;
    background-color: var(--neon_green);
    color: black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.offcanvas{
    background-color: var(--purple_bg);
    width: 15rem;
}
.offcanvas-title{
    color: white;
}

.custom-show {
    display: none;
}
  
@media (min-width: 900px) {
    .custom-show {
      display: block;
    }
}

.navbar-toggler-icon{
    filter: invert(82%) sepia(14%) saturate(2114%) hue-rotate(63deg) brightness(110%) contrast(100%);
}

.btn-close{
    filter: invert(82%) sepia(14%) saturate(2114%) hue-rotate(63deg) brightness(110%) contrast(100%);
    
}
.btn-close:focus-visible{
    outline: none;
}



.offcanvas-title{
    font-family: "Antonio", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    color: var(--neon_green);
}


/* NAV BAR DONE */

.main-bg{
    display: block;
    height: calc(100vh - 4.6rem);
}

.contianerReg
{
    margin-top: 4.6rem;
    /* height: 100vh; */
    width: 100%;
    height: 100%;
    font-family: "Antonio", sans-serif;
    background-image: url("../assets/register-bg.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.contianerReg .register-card{
    background-color: white;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    box-shadow: 8px 8px 4px var(--purple_bg);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contianerReg .register-card .SignupText{
    color: var(--neon_green);
    position: absolute;
    text-shadow: 6px 6px var(--purple_bg);
    
}

@media screen and (max-width: 567px) {
    .contianerReg .register-card{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .contianerReg .register-card .SignupText{
        font-size: 2.5rem;
        top: 5rem;
        left: 36vw;
        width: 10rem;
    }
}

@media screen and (min-width: 567px) {
    .contianerReg .register-card{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .contianerReg .register-card .SignupText{
        font-size: 3rem;
        top: 5rem;
        left: 41vw;
        width: 15rem;
    }
}


@media screen and (min-width: 768px) {
    .contianerReg .register-card{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .contianerReg .register-card .SignupText{
        font-size: 3rem;
        top: 4.8rem;
        left: 43vw;
        width: 15rem;
    }
}

@media screen and (min-width: 992px) {
    .contianerReg .register-card{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .contianerReg .register-card .SignupText{
        font-size: 8rem;
        top: 12rem;
        left: 66vw;
        width: 15rem;
    }
}


@media screen and (min-width: 1200px) {
    .contianerReg .register-card{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .contianerReg .register-card .SignupText{
        font-size: 8rem;
        top: 12rem;
        left: 64vw;
        width: 15rem;
    }
}
@media screen and (min-width: 1400px) {
    .contianerReg .register-card{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .contianerReg .register-card .SignupText{
        line-height: 10rem;
        left: 62vw;
        width: 5rem;
        font-size: 10rem;
        top: 12rem;
    }
}


.contianerReg .register-card .form-label{
    color: black;
    font-size: 1.3rem;
    text-shadow: 1.5px 1.5px var(--neon_green);
}

.contianerReg .register-card .form-control{
    color: black;
    border-radius: 0;
    border: 0.2rem solid var(--neon_green);
    text-shadow: 0.5px 0.5px var(--neon_green);
    box-shadow: 8px 8px var(--purple_bg);
}

.contianerReg .register-card .checkbox-below{
    font-family: "Gabarito", sans-serif;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
    
}

/* Hide the browser's default checkbox */
/* Thanks To
 https://moderncss.dev/pure-css-custom-checkbox-style/ 
*/
.contianerReg .register-card .checkbox-below input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--purple_bg);
    width: 1.15em;
    height: 1.15em;
    border: 0.2rem solid var(--purple_bg);
    transform: translateY(0.2rem);
    display: grid;
    place-content: center;
    cursor: pointer;
    position: relative;
}

.contianerReg .register-card .checkbox-below input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple_bg);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  
.contianerReg .register-card .checkbox-below input[type="checkbox"]:checked::before {
    transform: scale(1);
}
  

.contianerReg .register-card .goToReg{
    font-family: "Gabarito", sans-serif;
    color:black;
    
}
.contianerReg .register-card .goToReg a{
    font-family: "Gabarito", sans-serif;
    color:var(--purple_bg);
    text-decoration: none;
    text-shadow: 2px 2px var(--neon_green);
    
}


.contianerReg .register-card .SubmitBtn{
    font-family: "Antonio", sans-serif;
    background-color: var(--neon_green);
    color: black;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 5px 5px var(--purple_bg);
}
